<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0"> <title>iPad-Sprechstunden-Website</title>

<link rel="stylesheet" href="/resources/style.css">

</head>
<body class="main">



<nav class="menu">
<a href="/"><img src="/resources/logo.png" class="logo"></a>
<ul>
<li><a href="/shortcut/">Kurzbefehl</a></li>
<li><a href="/sitemap/">Sitemap</a></li>
<li><a href="/hinweise/">Hinweise</a></li>
<li><a href="/impressum/">Impresum</a></li>
</ul>
</nav>


<div class="contents">


<h1 class="uberschrift">Ueberschrift</h1>

<p>iPad-Sprechstunde</p>

<a href="/">Zur&uuml;ck</a>

</div>

</body>
