
.hintergrund{
  background-color:#002F49;
}
.logo{
  height:50px;
  widgh:50px;
  margin:center;
top:0;
  
}
.tit{
position:absolute;
text-align: center;
color:#ffff;
top:0;
}

.kurzbefehl{
width:40%;
height:20%;
margin-left:50px;
background-color:#002F49;
border-style: dashed;
border-width:5px;
border-color:#008D00;
border-radius:5px;
}

.p{
color:#ffff;
font-size:30px;
}

.images{
position: absolute;
text-align:right;
right:50px;
}

.kopfteil{
width:100%;
height:500px;
background-image:linear-gradient(#0060CE,#002F49);
}
