*{
margin: 0; 
padding: 0;
font-family: 'poppins', sans-serif;
box-sizing: border-box;
}


.main{
background: #232530;
min-height: 100vh;
width: 100%;
color: #fff;
}

.menu{
position: fixed;
top: 0px;
}

nav{
background: #1d3030;
display: flex;
align-items: center;
padding: 20px 8%;
width: 100%;
}


nav .logo{
width: 160px;
cursor: pointer;
}


nav ul{
flex: 1;
text-align: right;
}


nav ul li{
display: inline-block;
list-style: none;
margin: 0 20px;
}


nav ul li a{
text-decoration: none;
color: #fff;
}

.contents{
top:120hv;

}
