*{
margin: 0; 
padding: 0;
font-family: 'poppins', sans-serif;
box-sizing: border-box;
}

.contents a{
  color: #3DAB79;
  font-weight: 700;
  text-decoration: none;
}

button{
  color: #ffff;
  font-size: 20px;
  background-color: #3DAB79;
  border: none;
  padding: 8px;
  border-radius: 12px;
}

.main{
background: #232530;
min-height: 100vh;
width: 100%;
color: #fff;
}

.menu{}

nav{
background: #1d3030;
display: flex;
align-items: center;
padding: 20px 8%;
width: 100%;
position: fixed;
top: 0px;
}


nav .logo{
width: 160px;
cursor: pointer;
}


nav ul{
flex: 1;
text-align: right;
}


nav ul li{
display: inline-block;
list-style: none;
margin: 0 20px;
}


nav ul li a{
text-decoration: none;
color: #fff;
}

.contents{
margin-top:180px;
font-size: 20px;
}

.uberschrift{
  text-align:center;
  font-size: 30px;
}
